tags
*.swp
*.swo
/.settings
/.buildpath
/.project
.DS_Store
.idea
/bin/
/pkg
/log
/output
/test
.terraform
/terraform-provider-jdcloud
terraform.tfstate
terraform.tfstate.backup
crash.log
test.sh
assets
layout
xiaohan.sh
.hiddenScripts
jdcloud.tf
